<!doctype html>
<html lang="en">

<head>
  {{> head}}

  <title>Inicio</title>

</head>

<body>
  <!-------------------------------------------------------
-                     HEADER                            -
-------------------------------------------------------->

  {{> header}}


  <!-------------------------------------------------------
-                        MAIN                           -
-------------------------------------------------------->
  <div>

    <div class="container text-center row-cols-md-7">
      <h3 class="mb-5 mt-3">Puntos de reciclaje</h3>
    </div>

    <div class="container" id="puntos">
      <div id="puntos" class="row">

        <div class="card mb-3 col-3 me-1" style="width: 16rem;">
          <img src="/img/centros.jpg" class="card-img-top" alt="..." height="170px" width="170px">
          <div class="card-body">
            <h5 class="card-title">Centro Villa Alemana</h5>
            <p class="card-text">
            <div class="circular-progress jscript"></div>
            </p>
            <h1 id="porc"></h1>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Disponibilidad</li>
            <li class="list-group-item">Botellas plásticas y de vidrio</li>
            <li class="list-group-item">Calle Progreso 962, Villa Alemana, Valparaíso, Chile</li>
          </ul>
          <div class="card-body">
            <a href="#map" class="card-link">¿Cómo llegar?</a>
            <a href="#contact" class="card-link">¿Comentarios?</a>
          </div>
        </div>

        <div class="card mb-3 col-3 me-1" style="width: 16rem;">
          <img src="/img/centros2.jpg" class="card-img-top" alt="..." height="170px" width="170px">
          <div class="card-body">
            <h5 class="card-title">Centro Quilpué</h5>
            <p class="card-text">
            <div class="circular-progress verde progress-20"></div>
            </p>
            <h1 id="porc"></h1>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Disponibilidad alta</li>
            <li class="list-group-item">Botellas plásticas y de vidrio</li>
            <li class="list-group-item">Calle Claudio Vicuña 524, Quilpué, Valparaíso, Chile</li>
          </ul>
          <div class="card-body">
            <a href="#map" class="card-link">¿Cómo llegar?</a>
            <a href="#contact" class="card-link">¿Comentarios?</a>
          </div>
        </div>

        <div class="card mb-3 col-3 me-1" style="width: 16rem;">
          <img src="/img/centros4.jpg" class="card-img-top" alt="..." height="170px" width="170px">
          <div class="card-body">
            <h5 class="card-title">Centro Viña</h5>
            <p class="card-text">
            <div class="circular-progress html5"></div>
            </p>
            <h1 id="porc"></h1>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Disponibilidad</li>
            <li class="list-group-item">Botellas plásticas, de vidrio, cartón, papel</li>
            <li class="list-group-item">Calle Sucre 555, Viña del mar, Valparaíso, Chile</li>
          </ul>
          <div class="card-body">
            <a href="#map" class="card-link">¿Cómo llegar?</a>
            <a href="#contact" class="card-link">¿Comentarios?</a>
          </div>
        </div>

        <div class="card mb-3 col-3 me-1" style="width: 16rem;">
          <img src="/img/centros3.jpg" class="card-img-top" alt="..." height="170px" width="170px">
          <div class="card-body">
            <h5 class="card-title">Centro Valparaiso</h5>
            <p class="card-text">
            <div class="circular-progress css3"></div>
            </p>
            <h1 id="porc"></h1>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Disponibilidad baja</li>
            <li class="list-group-item">¿Tienes comentarios?</li>
            <li class="list-group-item">Avenida Brasil 458, Valparaíso, Chile</li>
          </ul>
          <div class="card-body">
            <a href="#map" class="card-link">¿Cómo llegar?</a>
            <a href="#contact" class="card-link">¿Comentarios?</a>
          </div>
        </div>

      </div>



      <!--suscripcion-->

      <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light mb-5 mt-5">
        <div id="suscrip">
          <div class="container py-4">
            <div class="row d-flex justify-content-center py-5">
              <div class="col-md-6">
                <h2 style="font-size: 22px;" class="mt-5">Suscríbete</h2>
                <span>Recibe novedades y tips de reciclaje por e-mail</span>
              </div>
              <div class="col-md-6 d-flex align-items-center">
                <form action="#" class="subscribe-form">
                  <div class="form-group d-flex">
                    <input type="text" class="form-control" placeholder="Ingresa tu email">
                    <input type="submit" value="Suscríbete" class="submit px-3">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- Map -->

      <div class="col-md-6 d-flex mt-2 mb-2" id="map">
        <div>
          <map name="Selecciona tu ubicación">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d107070.0703128334!2d-71.60046787685174!3d-33.005365283405105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689de84ead41255%3A0x8e5fde76df3d413f!2zVmnDsWEgZGVsIE1hciwgVmFscGFyYcOtc28!5e0!3m2!1ses-419!2scl!4v1672961267372!5m2!1ses-419!2scl"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </map>
        </div>
      </div>


      <!-- <div id='map' style='width: 400px; height: 300px;'></div>
      <script>
      mapboxgl.accessToken = 'pk.eyJ1Ijoia2F0aHlyb29vIiwiYSI6ImNsZDNuMHZ2ZjAxMXIzdnMzZzByazJ1ODIifQ.9C1Gsbpdt-nqI6JVwwmBtg';
      const map = new mapboxgl.Map({
          container: 'map', // container ID
          style: 'mapbox://styles/mapbox/streets-v12', // style URL
          center: [-74.5, 40], // starting position [lng, lat]
          zoom: 9, // starting zoom
      });

      </script> -->

      <h4>Mapa</h4>

      <nav class="navbar bg-body-tertiary mt-2 mb-5">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="ingresa tu ubicación" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </nav>


      <h3>
        ¿Tienes comentarios, sugerencias?
      </h3>

      <br>

      <h4>
        ¡Escríbenos!
      </h4>



      <!-- Contact form -->

      <div class="container" id="contact">
        <h1 id="react"></h1>

        <div class="row block-9 mt-5">
          <div class="col-md-6 order-md-last d-flex">
            <form action="#" class="bg-white p-5 contact-form shadow-sm rounded needs-validation">
              <div class="form-group">
                <input type="text" class="form-control rounded" id="nombre" placeholder="Nombre" required>
              </div>
              <div class="invalid-feedback">
                Porfavor ingrese un nombre
              </div>
              <div class="form-group">
                <input type="text" class="form-control rounded" id="correo" placeholder="Correo Electrónico" required>
              </div>
              <div class="invalid-feedback">
                Porfavor ingrese un nombre
              </div>
              <div class="form-group">
                <input type="text" class="form-control rounded" id="asunto" placeholder="Asunto" required>
              </div>
              <div class="invalid-feedback">
                Porfavor ingrese un nombre
              </div>
              <div class="form-group">
                <textarea name="" id="mensaje" cols="30" rows="7" class="form-control rounded" placeholder="Mensaje"
                  required></textarea>
              </div>
              <div class="invalid-feedback">
                Porfavor ingrese un nombre
              </div>
              <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary py-2 px-5 container">
              </div>
            </form>
          </div>
        </div>


        <!--footer-->

        <div class="container my-5">

          <footer class="text-center text-white" style="background-color: #f1f1f1;">
            <!-- Grid container -->
            <div class="container pt-4">
              <!-- Section: Social media -->
              <section class="mb-1">
                <!-- Facebook -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                  data-mdb-ripple-color="dark"><i class="fa-brands fa-square-facebook fa-sm"></i>
                </a>

                <!-- Twitter -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                  data-mdb-ripple-color="dark"><i class="fa-brands fa-square-twitter fa-sm"></i>
                </a>

                <!-- Google -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                  data-mdb-ripple-color="dark"><i class="fa-brands fa-google fa-sm"></i>
                </a>

                <!-- Instagram -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                  data-mdb-ripple-color="dark"><i class="fa-brands fa-square-instagram fa-sm"></i>
                </a>

                <!-- Linkedin -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                  data-mdb-ripple-color="dark"><i class="fa-brands fa-linkedin fa-sm"></i>
                </a>
                <!-- Github -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                  data-mdb-ripple-color="dark"><i class="fa-brands fa-github fa-sm"></i>
                </a>
              </section>
              <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2023 DondeReciclo.cl
              <a class="text-dark" href="https://mdbootstrap.com/" /a>
            </div>
            <!-- Copyright -->
          </footer>

        </div>

      </div>

        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="js/google-map.js"></script>

        {{> footer-scripts}}

        <script>
          async function getPuntosReciclaje() {
            const response = await fetch("/api/puntos-de-reciclaje");
            const jsonData = await response.json();
            return jsonData;
          }

          const renderPuntosReciclaje = async () => {
            // obtener datos de los puntos de reciclaje
            const result = await getPuntosReciclaje();
            console.log(result);

            // renderizar los card de los punto de reciclaje con jquery
            let cards = '';
            result.forEach((punto) => {
              cards += `

                <div class="card mb-3 col-3 me-1" style="width: 16rem;">
                  <img src="${punto.imagen}" class="card-img-top" alt="reciclaje_image" height="170px" width="170px">
                  <div class="card-body">
                    <h5 class="card-title">${punto.nombre}</h5>
                    <p class="card-text">
                    <div class="circular-progress verde progress-20"></div>
                    </p>
                    <h1 id="porc"></h1>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">${punto.tipo_residuos}</li>
                    <li class="list-group-item">${punto.direccion}, ${punto.comuna}</li>
                  </ul>
                </div>

              `;

            });

            $("#puntos").html(cards);
            console.log('aqui');

          };

          renderPuntosReciclaje();

        </script>

        

</body>

</html>