<!doctype html>
<html lang="en">

<head>
  
  {{> head}}

  <title>Nosotros</title>

</head>

<body>

  {{> header}}


  <div class="container text-center row-cols-md-7">
    <h2 class="mb-2 mt-3">Bienvenido a DondeReciclo.cl</h2>
    <p class="mb-5 mt-3">Aquí puedes encontrar tu punto de reciclaje más cercano que aún cuente con disponibilidad.</p>
  </div>


  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/mix2.jpg" class="d-block w-100" alt="..." height="200px" width="300px">
      </div>
      <div class="carousel-item">
        <img src="/img/bottles.jpg" class="d-block w-100" alt="..." height="200px" width="300px">
      </div>
      <div class="carousel-item">
        <img src="/img/plastic-glass.jpg" class="d-block w-100" alt="..." height="200px" width="300px">
      </div>
    </div>
  </div>

  <!-- About us -->

  <div class="container">
    <div class="row d-flex mb-5 about us">
      <div class="col-md-4 d-flex">
        <div class="info bg-white p-4 shadow-sm rounded">
          <p class="text-center"><strong>Misión</strong><br>Mejorar y hacer más eficiente el sistema de reciclaje en
            Chile, crear consciencia y
            evitar que las personas lleven basura a los lugares de recolección.</p>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="info bg-white p-4 shadow-sm rounded">
          <p class="text-center"><strong>Visión</strong><br>Mejorar el sistema existente para en un futuro implementar y
            hacer más popular el reciclaje de cartón, papel y desechos orgánicos.</p>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="info bg-white p-4 shadow-sm rounded">
          <p class="text-center"><strong>Valores</strong><br>Crear un sistema lo más transparente y eficiente posible
            para el país, además de educar e informar a las personas.</p>
        </div>
      </div>
    </div>


    <!-- login -->
    {{!--
    <div>
      <h6>¿Eres socio?</h6>
      <h5>Iniciar sesión</h5>

      <form id="login-form">
        <div>
          <label id="label" for="username">Username:</label>
          <input id="input1" type="text" id="username" name="username" required>
        </div>
        <div>
          <label for="password">Password:</label>
          <input id="input1" type="password" id="password" name="password" required>
        </div>
        <button id="button2" type="submit">Log In</button>
      </form>
    </div> --}}

    <!-- login2 -->
    {{!--
    <div>

      <div class="container">
        <div class="card">
          <h2>Inicio de sesión</h2>
          <form id="login-form">
            <div class="form-group">
              <label for="username">Nombre de usuario</label>
              <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn">Iniciar sesión</button>
          </form>
          <p class="message">¿No tienes una cuenta? <a href="#" id="register-link">Regístrate</a></p>
        </div>

        <div class="card hidden" id="register-form-container">
          <h2>Registro de cuenta</h2>
          <form id="register-form">
            <div class="form-group">
              <label for="new-username">Nombre de usuario</label>
              <input type="text" id="new-username" name="new-username" required>
            </div>
            <div class="form-group">
              <label for="new-password">Contraseña</label>
              <input type="password" id="new-password" name="new-password" required>
            </div>
            <div class="form-group">
              <label for="confirm-password">Confirmar contraseña</label>
              <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <button type="submit" class="btn">Registrarse</button>
          </form>
          <p class="message">¿Ya tienes una cuenta? <a href="#" id="login-link">Inicia sesión</a></p>
        </div>
      </div>

    </div> --}}














    <!--footer-->

    <div class="container my-5">

      <footer class="text-center text-white" style="background-color: #f1f1f1;">
        <!-- Grid container -->
        <div class="container pt-4">
          <!-- Section: Social media -->
          <section class="mb-1">
            <!-- Facebook -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="fa-brands fa-square-facebook fa-sm"></i>
            </a>

            <!-- Twitter -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="fa-brands fa-square-twitter fa-sm"></i>
            </a>

            <!-- Google -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="fa-brands fa-google fa-sm"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="fa-brands fa-square-instagram fa-sm"></i>
            </a>

            <!-- Linkedin -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="fa-brands fa-linkedin fa-sm"></i>
            </a>
            <!-- Github -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="fa-brands fa-github fa-sm"></i>
            </a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 DondeReciclo.cl
          <a class="text-dark" href="https://mdbootstrap.com/" /a>
        </div>
        <!-- Copyright -->
      </footer>

    </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
  -->

 {{> footer-scripts}}

</body>

</html>